html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "regular";
  src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "bold";
  src: url("../fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "thin";
  src: url("../fonts/Poppins-Thin.ttf");
}

@font-face {
  font-family: "semibold";
  src: url("../fonts/Poppins-SemiBold.ttf");
}

.btn-hover {
  transition: 0.7s;
  background-color: rgb(33, 96, 253);
  color: white;
}

.btn-hover:hover {
  background-color: white;
  color: rgb(33, 96, 253);
  transition: 0.7s;
}

.gradient-text {
  background-color: white;
  background-image: linear-gradient(25deg, white, #2160fd);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
